<template>
  <div class="hello">
    <h1>Welcome to your account</h1>
    <hr>
    <router-link to="/">Home</router-link>
    <br>
    <a href="" @click.prevent="logout">Logout</a>
  </div>
</template>

<script>
import auth from '../auth.js'

export default {
  name: 'account',
  methods: {
    logout () {
      auth.signout()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
