<template>
  <div class="hello">
    <h1>Welcome</h1>
    <hr>
    <router-link to="login">Login</router-link>
    <br>
    <router-link to="signup">Create account</router-link>
  </div>
</template>

<script>
export default {
  name: 'hello'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
