<template>
  <div class="login">
    <h1>Login</h1>
    <hr>
    <router-link to="/">Home</router-link>
    <br>
    <router-link to="signup">Create account</router-link>
    <hr>
    <form v-on:submit.prevent="signin">
      <input type="email" placeholder="Email" v-model="credentials.email">
      <br>
      <input type="password" placeholder="Password" v-model="credentials.password">
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import auth from '../auth.js'

export default {
  name: 'login',
  data () {
    return {
      credentials: {},
      error: false
    }
  },
  methods: {
    signin () {
      auth.signin(this, this.credentials)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
