<template>
  <div class="hello">
    <h1>Create account</h1>
    <hr>
    <router-link to="/">Home</router-link>
    <br>
    <router-link to="login">Login</router-link>
    <hr>
    <form v-on:submit.prevent="register">
      <input type="text" placeholder="Full name" v-model="user.name">
      <br>
      <input type="email" placeholder="Email" v-model="user.email">
      <br>
      <input type="password" placeholder="Password" v-model="user.password">
      <br>
      <button type="submit">Create account</button>
    </form>
  </div>
</template>

<script>
import auth from '../auth.js'

export default {
  name: 'signup',
  data () {
    return {
      user: {},
      success: false,
      error: false,
      response: null
    }
  },
  methods: {
    register () {
      console.log(this.user)
      auth.register(this, this.user)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
